
<mat-drawer-container class="example-container" >
    <mat-drawer mode="side" opened>
        <mat-card class="left-card">
            <mat-list>
                <mat-list-item >Calculate Profit</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >Another</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >Another 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >Another 3</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >Another 4</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item >Another 5</mat-list-item>
              </mat-list>
        </mat-card>        
    </mat-drawer>
    <mat-drawer-content>
        <mat-card>
            <mat-card-content>
                <app-shipment></app-shipment>
            </mat-card-content>
            
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
  